extends layout

block content
  h1= upload
  input#file_upload(name="file_upload",type="file",multiple="true")
  script(src="http://cdn.staticfile.org/seajs/2.2.1/sea-debug.js")
  script
    seajs.use()
  // ie低版本，只能上传一个文件，并且没有提示
  // ie高把本，可以上传多个文件，有进度